{{- range .Site.Menus.main }}
{{- if .HasChildren }}
<a href="{{ .URL | absLangURL }}" class="has-children">{{ .Name }}</a>
<span class="sub-menu">
	{{- range .Children }}
	<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
	{{- end }}
</span>
{{- else }}
<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
<p style="text-align: center;">
	<a href="https://discord.gg/kaBRMRKjYz" target="_blank">
		<img src="https://img.icons8.com/fluency/240/000000/discord.png" />
	</a>
</p>
<ul>
	<li>100% gratis y para la comunidad</li>
	<li>Chats por grado y asignatura</li>
	<li>Acceso a Pacs de otros a&ntilde;os&nbsp;</li>
	<li>Únete a la comunidad discord</li>
	<p><em><strong><a href="https://discord.gg/kaBRMRKjYz">Invitac&iacute;on a Discord</a></strong></em></p>
	<div id="gtx-trans" style="position: absolute; left: 256px; top: 32px;">
		<div class="gtx-trans-icon">&nbsp;</div>
	</div>
</ul>
{{- end }}
{{- end }}
