<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Ups! Página no encontrada</title>
    <style>
        body {
            background-color: #6154d0;
            color: rgb(194, 181, 213);
            text-align: center;
            padding: 50px;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>¡Ups! Parece que te has perdido.</h1>
    <p>No te preocupes, no estamos perdidos. Es solo que la página que estás buscando está de vacaciones o quizás
        disfrutando de un día de spa.</p>
    <p>Mientras tanto, vamos a llevarte de vuelta a casa:</p>
    <a href="/">Ir a la página principal</a>
</body>

</html>
